.usefulInformation {
  margin-top: 44px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background-color: var(--ax-bg-raised);
}
.tidligereVarselListHeading {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
