---
import {text} from "../../language/text";
import PageHeader from "../PageHeader/PageHeader.astro";
import VarselFetcher from "../VarselFetcher/VarselFetcher.astro";
import {type Locale} from "../../customTypes/Locale";
import Layout from "../../layout/Layout.astro";
const currentLocale = Astro.currentLocale as Locale
import styles from "./VarselPage.module.css";
import ContentSkeleton from "./contentSkeleton/ContentSkeleton.astro";
---


<Layout>
    <PageHeader/>
    <div class={styles.contentWrapper}>
        <VarselFetcher server:defer>
            <ContentSkeleton slot="fallback"/>
        </VarselFetcher>
    </div>
</Layout>