---
import type { Locale } from "../../customTypes/Locale";
import Layout from "../../layout/Layout.astro";
import PageHeader from "../PageHeader/PageHeader.astro";
import VarselFetcher from "../VarselFetcher/VarselFetcher.astro";
import ContentSkeleton from "./contentSkeleton/ContentSkeleton.astro";
import styles from "./VarselPage.module.css";

const locale: Locale = Astro.currentLocale as Locale;
---

<Layout>
  <PageHeader />
  <div class={styles.contentWrapper}>
    <VarselFetcher server:defer locale=`${locale}`>
      <ContentSkeleton slot="fallback" />
    </VarselFetcher>
  </div>
</Layout>
