.container {
    background-color: var(--a-surface-default);
    padding: 1rem;
    width: var(--content-width);
    max-width: var(--content-max-width);
    margin: 0 auto;
}


@media (max-width: 648px) {
    .container {
        padding: 0 0.5rem;
    }
}