---
import { Heading } from "@navikt/ds-react";
import styles from "./PageHeader.module.css";
import { text } from "../../language/text";
import { VisningsToggle } from "./visnings-toggle/VisningsToggle";
import { Filter } from "./filter/Filter";
import type { Locale } from "../../custom-types/Locale";

const currentLocale: Locale = Astro.currentLocale as Locale;
---

<div>
  <div class={styles.container}>
    <Heading className={styles.pageHeading} size={"xlarge"}
      >{text.hovedoverskrift[currentLocale]}</Heading
    >
    <VisningsToggle client:only="react" />
    <Filter client:only="react" />
  </div>
</div>
