---
import type { Locale } from "../../custom-types/Locale";
import PageHeader from "../page-header/PageHeader.astro";
import VarselFetcher from "../varsel-fetcher/VarselFetcher.astro";
import Layout from "../../layout/Layout.astro";
import styles from "./VarselPage.module.css";
import ContentSkeleton from "./content-skeleton/ContentSkeleton.astro";
const locale: Locale = Astro.currentLocale as Locale;
---

<Layout>
  <PageHeader />
  <div class={styles.contentWrapper}>
    <VarselFetcher server:defer locale=`${locale}`>
      <ContentSkeleton slot="fallback" />
    </VarselFetcher>
  </div>
</Layout>
