body {
  background-color: var(--a-bg-subtle);
}
.main {
  max-width: none;
}

.container, decorator-utils{
  background-color: var(--a-surface-default);.container, decorator-utils{
  background-color: var(--a-surface-default);
}
}

.container {
  min-height: 600px;
  margin: 0 auto;
}
